
body {
  color: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  margin: 0;
  font-size: 18px;
}

main {
  padding: 15px;
  text-align: center;
}

datalist {
  display: none;
}

input[type='text'] {
  border-radius: 3px;
  border: 1px solid #2e2e2e;
  box-sizing: border-box;
  height: 34px;
  width: 225px;
  font-size: 1.25em;
  padding: 1px 8px;
}

.btn {
  height: 34px;
  border-radius: 5px;
  font-size: 1.25em;
}

.rules {
  position: absolute;
  left: 15px;
  top: 15px;
  text-align: left;
  font-size: 16px;
}

.rules h4, .rules ul {
  margin: 5px;
}

.pre-game-area > div {
  margin: 15px auto;
}

.word-select {
  margin: auto;
  width: 225px;
  position: relative;
}

.word-rank,
.word-valid {
  font-size: 0.75em;
  left: 0;
  position: absolute;
  padding: 3px 0;
}

.word-valid {
  left: unset;
  right: 0;
}

.game-area {
  text-align: center;
}

.hangman-area {
  margin: auto;
  position: static;
  width: 200px;
  border-bottom: 2px solid #2c612c;
}

.hangman {
  height: 200px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-right: 30px;
}

.hangman > span {
  position: absolute;
}

.pole {
  background-color: sienna;
}

.pole.vertical {
  bottom: 0;
  height: 150px;
  right: 5px;
  width: 3px;
}

.pole.diagonal {
  bottom: -8px;
  right: 22px;
  width: 3px;
  height: 50px;
  transform: rotate(45deg);
}

.pole.horizontal {
  bottom: 150px;
  right: 5px;
  width: 70px;
  height: 3px;
}

.rope {
  background-color: #fda946;
  bottom: 130px;
  width: 2px;
  height: 20px;
  right: 73px;
}

.body {
  background-color: #545454;
}

.body.head {
  border-radius: 100%;
  width: 13px;
  height: 13px;
  bottom: 118px;
  right: 67px;
}

.body.torso {
  bottom: 98px;
  width: 3px;
  height: 20px;
  right: 72px;
}

.body.left {
  right: 78px;
  transform: rotate(30deg);
}

.body.right {
  right: 67px;
  transform: rotate(-30deg);
}

.body.arm {
  bottom: 100px;
  width: 2px;
  height: 16px;
}

.body.leg {
  bottom: 80px;
  width: 2px;
  height: 20px;
}

.word-area {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.word-area > .letter {
  border-bottom: 2px solid black;
  font-size: 30px;
  height: 30px;
  margin: 5px;
  text-transform: uppercase;
  width: 30px;
}

.word-area > .letter.missed {
  color: red;
}

.game-area .guess-letter {
  width: 40px;
  text-transform: uppercase;
  text-align: center;
}

.incorrect-guesses > h3 {
  margin-bottom: 5px;
}

.incorrect-guesses > span {
  text-transform: uppercase;
}

.hidden {
  display: none;
}